@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

:root {
    --color-primary: rgba(243, 196, 110, 0.247);
    --color-secondary: rgba(0, 0, 0, 0.548); /* For line, button hover etc. */
    --color-tertiary: black;                /* For text color */
    --color-quaternary: rgba(255, 255, 255, 0.5); /* For button background */
    --form-bg: rgba(255, 198, 124, 0.219);       /* For form background */
    --input-bg: rgba(255, 255, 255, 0.8);       /* For input background */
    --input-hover-bg: rgba(255, 255, 255, 0.9); /* For input hover background */

    /* Placeholder color */
    --placeholder-color: rgba(0, 0, 0, 0.5);
}

.darkTheme {
    --color-primary: rgba(0, 0, 0, 0.712);
    --color-secondary: rgba(255, 255, 255, 0.5);
    --color-tertiary: rgb(255, 255, 255);
    --color-quaternary: rgba(27, 27, 27, 0.5);
    --form-bg: rgba(0, 0, 0, 0.301); /* Slightly lighter than body bg */
    --input-bg: rgba(27, 27, 27, 0.8); 
    --input-hover-bg: rgba(27, 27, 27, 0.9); 
    --placeholder-color: rgba(255, 255, 255, 0.5);
}


body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
    color: var(--color-tertiary);  /* Use variable for text color */
    transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition */
}

h1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Yatra One;
    font-size: 42px;
}
.line{
    height: 3px;
    width: 100%;
    background-color: var(--color-secondary); /* Use variable */
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--form-bg);  /* Use variable */
    border-radius: 30px;
}
.daForm{
    margin-top: 8%;
    
}
form:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    z-index: 1;
    cursor: pointer;
}
input{
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    &:focus{
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    ::placeholder{
        color: rgba(0, 0, 0, 0.5);
    }
    @media screen and (max-width: 600px){
        width: 80%;
    }
    @media screen and (max-width: 400px){
        width: 100%;
    }
    background-color: var(--input-bg); /* Use variable */
    color: var(--color-tertiary);
}

input::placeholder,
textarea::placeholder{
    color: var(--placeholder-color);
}


input:hover{
    background-color: var(--input-hover-bg); /* Use variable */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;    
}
#daBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-quaternary); /* Use variable */
    color: var(--color-tertiary);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    @media screen and (max-width: 600px){
        padding: 8px 16px;
    }
}
#daBtn:hover{
    color: rgba(255, 255, 255, 0.699);
    background-color: var(--color-secondary); /* Use variable */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;    
}
#daBtn:disabled{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
}
textarea{
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    resize: vertical;
    background-color: var(--input-bg); /* Use variable */
    color: var(--color-tertiary);
}
textarea:hover{
    background-color: var(--input-hover-bg); /* Use variable */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
footer{
    font-family: Kalam;
    margin-left: 12px;
    color: var(--color-tertiary);
}
#daCopy{
    font-weight: bolder;
}
#daP{
    font-size: 20px;
    background: -webkit-linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
#daP:hover{
    background: -webkit-linear-gradient(#f0826f, #e65b2f, #c93016, #9f2613, #681b0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
    transform: scale(0.75); /* Make the checkbox smaller */
    margin-top: 15px; /* Adjust margin as needed */
    margin-left: 12px;
  }
  
  .theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
  }
  
  .theme-checkbox:checked {
    background-position: 100%;
  }
  